.rightColumn {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100dvh - 50px);
    padding-bottom: 100px;
    scrollbar-width: none;
}

.itemRow {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    color: #333;
}

.negative {
    color: #f44336;
    font-weight: 500;
}