.borderEndOnlySm {
    border-right: none;
}

@media (min-width: 576px) {
    .borderEndOnlySm {
        border-right: 1px solid #dee2e6;
    }
}

.Col {
    overflow-y: auto;
    max-height: calc(100vh - 50px);
    padding-bottom: 1rem;
}