.borderEndOnlySm {
    border-right: none;
}

@media (min-width: 576px) {
    .borderEndOnlySm {
        border-right: 1px solid #dee2e6;
    }
}

.rightColumn {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100dvh - 50px);
    padding-bottom: 100px;
    scrollbar-width: none;
}